@font-face {
    font-family: 'cyber';
    /* Specify your desired font family name */
    src: url('../../fonts/PublicPixel-z84yD.ttf') format('truetype'),
}



.home {
    color: white;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    height: 100%;
    font-family: cyber;
}

