.login {
    display: flex;
    justify-content: center;
    padding: 7%;
    font-family: cyber;
}

.login_form {
    width: 50%;

    height: 70vh;

    background-color: #f0f0f0;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.login_form:hover {
    opacity: 1
}

.login_form>h2 {
    color: blue;
}

.login_form>input {
    color: blue;
    padding: 10px;
    border-radius: 5px;
    border: 0 bold white;
    font-size: 15px;
}