@font-face {
    font-family: 'cyber';
    /* Specify your desired font family name */
    src: url("./fonts/PublicPixel-z84yD.ttf") format('truetype'),
}



.app{ color: white;
    margin: 0;
    padding: 0;
    
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    overflow: visible;
   
    /* height: 100vh; */
    font-family: cyber;}

@media(max-width: 400px){
    .app{
        /* height: 100vh;  */
    }
}

   