@font-face {
    font-family: 'cyber';
    /* Specify your desired font family name */
    src: url("./fonts/PublicPixel-z84yD.ttf") format('truetype'),
}



.app{ color: white;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    
    overflow: visible;
    /* height: 100vh; */
    font-family: cyber;}

   