.dashboard{
    display: flex;    
    justify-content: start;
    align-items: start;
    flex-wrap:wrap;
    background-color: rgba(0, 0, 0, 0.568);
    /* height: 100vh; */
    
}
.dashboard_container{
    background-color: black;
    background-size:  cover;
    opacity: 1;
    margin: 50px;
    padding: 10px;
}