.navbar{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 1%;
    width: 100vw;
    display: flex;
    overflow-wrap: wrap;
    font-size: 15px;
    justify-content: space-between;   
    }

.navbar_heading{
    overflow-wrap: wrap;  
    flex: .5;
    background-color: rgb(0, 0, 0); 
    display: flex;
}
.navbar_buttons{
    display: flex;
    justify-content: space-between;
}

.navbar_buttons_contact,
.navbar_buttons_signout {
    /* text-align: right; */
    overflow-wrap: wrap;
    background-color: rgb(0, 0, 0);
    margin-left: 5vw;
   
    
}

.navbar_buttons_signout:hover, .navbar_buttons_contact:hover{
cursor: pointer;
color: #ff513c;

}

@media(max-width: 500px){
    .navbar{        
        font-size: 10px;
    }
    .navbar_buttons_contact{
        padding: 2% 0 2% 0;
    }
    .navbar_buttons_signout{
        padding: 2% 0 2% 0;
    }
}