.contact{
    margin: 0;
    height: 100vh;
    width: 100vw;
    
  
   display: flex;
   justify-content: center;
   align-items: start ;
}


.contact_header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.contact_header_name{
    margin: 10px;
}

.contact_header_back{
    margin: 10px;
}


.contact_header_back:hover{
    color: #ff513c ;
}
